body {
    background-image: url("/img/sky.jpg");
  }
  .text,
  .select,
  #result,
  #resultTime,
  p,
  .timeSelector,
  #conteinerBtn {
    display: flex;
  }
  .text,
  .select {
    flex-direction: row;
    justify-content: space-evenly;
    text-align-last: center;
  }
  #result,
  #resultTime,
  p {
    flex-direction: row;
    justify-content: center;
    padding: 10px;
  }
  #result,
  #resultTime,
  #resultFdp {
    color: red;
    font-size: 25pt;
    text-align: center;
  }
  .timeSelector {
    flex-direction: row;
    justify-content: center;
    text-align-last: center;
  }
  #containerBtn {
    text-align: center;
    margin: auto;
  }
  #alert {
    position: absolute;
    bottom: 90;
    right: 0;
    border-radius: 50%;
    background-color: aqua;
  }