body {
    background-image: url("/img/sky.jpg");
  }
.backLink {
    display: inline-flex;
    flex-direction: row;
    color: #ffffff;
    background-color: crimson;
    padding: 8px 12px;
    margin: 10px;
    border: 2px solid crimson;
    border-radius: 4px;
    text-decoration: none;
}
a { 
  text-decoration: none;
 }
 a:hover { 
  text-decoration: underline;
 }